body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: #E0E0E0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    padding-bottom: 100px;
}

.back-link {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
}

.back-link img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    transition: all 0.3s ease;
}

.back-link a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: white;
    transition: all 0.3s ease;
}

.back-link:hover a {
    font-size: 1.1em;
}

.back-link:hover img {
    width: 22px;
    height: 22px;
}

.get-in-touch {
    text-align: center;
    margin-top: 80px;
}

.get-in-touch h2 {
    color: #e91e63;
    margin-bottom: 10px;
}

.get-in-touch p {
    margin-bottom: 20px;
}

.contact-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 40%;
    margin-top: 20px; 
    margin-bottom: 20px; 
}

.contact-form {
    background: #333;
    padding: 38px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.contact-form .logo {
    width: 200px;
    margin-bottom: 20px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form label {
    display: block;
    text-align: left;
    margin-bottom: 0px;
    color: #E0E0E0;
}

.contact-form input,
.contact-form textarea,
button[type="submit"] {
    width: 100%; 
    box-sizing: border-box; 
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 5px;
    background: #555;
    color: #fff;
    font-size: 14px;
    transition: background 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.contact-form input:focus,
.contact-form textarea:focus,
.contact-form input:hover,
.contact-form textarea:hover {
    outline: none;
    background: #444;
    border-color: white;
}

button[type="submit"] {
    padding: 12px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background: #e91e63;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease;
}

button[type="submit"]:hover {
    background: #c20047;
    transform: scale(1.05);
}

.social-links {
    margin-top: 20px;
    text-align: center;
}

.social-links p {
    margin: 5px 0;
}

.social-links a {
    color: #e91e63;
    text-decoration: none;
}

.social-links a:hover {
    text-decoration: underline;
}

#contactMessage {
    padding: 20px; 
    border-radius: 5px;
    margin-top: 20px; 
    text-align: center;
    width: 100%;
    max-width: 400px; 
    display: none; 
}

#contactMessage.success {
    background-color: #35a839;
    color: white;
}

#contactMessage.error {
    background-color: #dd4034;
    color: white;
}

@media (max-width: 768px) {
    .contact-container {
        width: 100%;
    }

    .contact-form {
        padding: 30px;
    }

    .contact-form .logo {
        width: 150px;
    }

    button[type="submit"] {
        font-size: 14px;
        padding: 10px;
        width: 100%;
    }

    #contactMessage {
        max-width: 50%;
        padding: 15px;
        font-size: medium;
    }

    .get-in-touch {
        margin-top: 60px;
    }
}

@media (max-width: 480px) {
    .contact-container {
        width: 80%;
    }

    .contact-form {
        padding: 20px;
    }

    .contact-form .logo {
        width: 120px;
    }

    button[type="submit"] {
        font-size: 12px;
        padding: 10px;
    }

    #contactMessage {
        max-width: 68%;
        padding: 15px;
        font-size: small;
    }

    .get-in-touch {
        margin-top: 50px;
        margin-left: 10px;
        margin-right: 10px;
    }
}
