body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: #E0E0E0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #e91e63;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 24px;
}

@media (min-width: 768px) {
    h1 {
        font-size: 32px;
    }
}

h3 {
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    margin-left: 20px;
    margin-top: 60px;
    color: #e91e63;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 20px;
}

@media (min-width: 768px) {
    h3 {
        margin-left: 144px;
        font-size: 22px;
    }
}

.back-link {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
    margin-bottom: 50px;
}

.back-link img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    transition: all 0.3s ease;
}

.arrow {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: white;
    transition: all 0.3s ease;
}

.back-link:hover .arrow {
    font-size: 1.1em;
}

.back-link:hover img {
    width: 22px;
    height: 22px;
}

.balance-title {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #e91e63;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 22px;
}

.container {
    margin-top: 60px;
    margin-bottom: 30px;
}

.bigholder, .bigholder2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

@media (min-width: 768px) {
    .bigholder, .bigholder2 {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

.cardholder, .exchangeholder {
    background: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px auto;
    width: 100%;
    max-width: 300px;
}

@media (min-width: 768px) {
    .cardholder, .exchangeholder {
        width: calc(50% - 20px);
        margin: 10px;
    }
}

.input-group {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.input-group input {
    width: 100%;
    padding: 10px;
    padding-left: 40px;
    border: 2px solid transparent;
    border-radius: 5px;
    background: #555;
    color: #fff;
    font-size: 14px;
    transition: background 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.input-group input:focus, .input-group input:hover {
    outline: none;
    background: #555;
    color: #fff;
    border-color: white;
}

.input-group .input-icon {
    position: absolute;
    left: 10px;
    display: flex;
    align-items: center;
}

.input-group .input-icon img {
    width: 20px;
    height: 20px;
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background: #e91e63;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease;
    margin-top: 10px;
}

button:hover {
    background: #c20047;
    transform: scale(1.05);
}

#outputTotal, #outputTotal2 {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    color: #E0E0E0;
    font-size: large;
    background: #333;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 90%;
    max-width: 320px;
}

@media (min-width: 768px) {
    #outputTotal, #outputTotal2 {
        flex-direction: row;
        margin-left: 140px;
    }
}

.totalcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    color: #E0E0E0;
}

.rowtotal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    padding: 0 20px;
    font-size: 18px;
    color: #E0E0E0;
}

.separator {
    width: 100%;
    height: 2px;
    background-color: #E0E0E0;
    margin: 2px 0;
}

.manage-wrapper {
    display: flex;
    justify-content: flex-start; /* Align to the start */
    margin-top: 20px;
    margin-bottom: 40px;
}

@media (max-width: 768px) {
    .manage-wrapper {
        margin-left: 20px; /* Adjust this value for mobile view */
    }
}

@media (min-width: 768px) {
    .manage-wrapper {
        margin-left: 126px; /* Adjust this value for desktop view */
    }
}

.manage-container {
    background: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 300px;
    margin-right: auto; /* Ensure it doesn't center horizontally */
    margin-left: 10px;
}

.split {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .split {
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 5px;
        gap: 15px;
    }
}

.select-group select {
    width: 100%;
    padding: 10px;
    padding-left: 10px;
    border: 2px solid transparent;
    border-radius: 5px;
    background: #555;
    color: #fff;
    font-size: 12px;
    transition: background 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    appearance: none;
    padding-right: 20px; /* Make space for the arrow */
    font-family: 'Montserrat', sans-serif;
}

.select-group {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}

.select-group::after {
    content: '▼'; /* Unicode character for downward arrow */
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    pointer-events: none; /* Prevent clicking on the arrow */
    font-size: 12px;
}

.select-group select:focus, .select-group select:hover {
    outline: none;
    background: #666;
    color: #fff;
    border-color: white;
}

footer {
    background-color: #333;
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid #444;
    color: #E0E0E0;
    font-family: 'Montserrat', sans-serif;
    margin-top: auto;
}

.footer_holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.footer-text {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
    gap: 10px;
    position: relative;
    padding-left: 20px;
}

.footer-links::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 2px;
    height: 100%;
    background-color: #e91e63;
    display: none; /* Hide by default */
}

.footer-links a {
    text-decoration: none;
    color: white;
    margin-right: 6px;
    font-size: 14px;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #c20047;
}

.footer-text p {
    margin: 0;
    font-size: 14px;
    color: #E0E0E0;
}

.footer-text a {
    text-decoration: none;
    color: white;
    margin-right: 6px;
    transition: color 0.3s ease;
}

.footer-text a:hover {
    color: #c20047;
}

.logo {
    width: 100px; /* Adjust logo size for better fit */
}

@media (min-width: 768px) {
    .footer_holder {
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 20px;
        margin-top: 40px;
    }

    .footer-text {
        align-items: flex-start;
        margin-top: 0;
    }

    .footer-links {
        flex-direction: column;
        align-items: flex-start;
    }
   
    .footer-links::before {
        display: block; /* Show on larger screens */
    }

    .logo {
        width: 200px;
    }
}

@font-face {
    font-family: 'Montserrat';
    src: url(/font-family/Montserrat-VariableFont_wght.ttf) format('truetype');
}

/* Account Icon and Dropdown Menu */
.account-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.account-icon img {
    width: 30px; /* Adjust size as needed */
    height: 30px;
    transition: all 0.3s ease;
}

.account-icon img:hover {
    width: 32px;
    height: 32px;
}

.account-menu {
    display: none;
    position: absolute;
    top: 40px; /* Adjust this value to position below the icon */
    right: 0;
    background-color: #333;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    min-width: 150px;
    padding: 10px 0;
    border-radius: 5px;
}

.account-menu a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 15px;
    transition: background 0.3s ease;
}

.account-menu a:hover {
    background-color: #444;
}

.account-icon.open .account-menu {
    display: block;
}

/* Modals */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #333;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    color: white;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}
