h1{
    text-align: center;
}

.row {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.card, .cash {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    width: 40%;
}

.two {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.pound {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

button {
    align-self: center;
    margin-top: 10px;
}