body {
    font-family: 'Montserrat', sans-serif;
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    background-color: black;
    color: #E0E0E0;
}

button, input, select {
    font-family: 'Montserrat', sans-serif;
    background-color: #E0E0E0;
    color: black;
    border: solid 1px #cccccc;
    transition: all 0.3s ease;
}

button:hover, #fetchAmount:hover, #deleteAmount:hover, #updateAmount:hover, #deleteTotalAmount:hover, .submit:hover, .subtractButton:hover {
    background: #888888;
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1, h2, h3, .footer_holder a {
    font-family: 'Cinzel', serif;
    text-align: center;
    margin-bottom: 5px;
    background: linear-gradient(to right, #ffffff, #65827e, #6368ad); /* Gradient background */
    -webkit-background-clip: text; /* Clip the background to the text */
    color: transparent; /* Make the text color transparent */
    font-weight: bold;
    transition: background 0.3s ease, transform 0.3s ease;
}

.footer_holder {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 20px;
    padding: 10px;
}

.footer_holder a {
    font-family: 'Cinzel', serif;
    text-align: center;
    transition: background 0.3s ease, transform 0.3s ease;
    color: white;
}

.footer_holder a:hover, a#logOut:hover, a#contact:hover {
    transform: scale(1.2);
}

.headrimgs {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.header-img {
    width: 300px;
    margin-top: 5px;
}

.header-img2 {
    width: 150px;
    margin-top: 5px;
}

.textlogo {
    margin-top: 5px;
    padding: 10px;
}

.section-img {
    max-width: 100px;
    height: auto;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.section {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.section h3 {
    text-align: center;
    font-family: 'Cinzel', serif;
}

.section-content {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.section p {
    width: 70%;
    font-family: 'Montserrat', sans-serif;
}

.section-img {
    max-width: 100px;
    height: auto;
}

/* Side pics */

.side-image {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 8%;
    background: rgba(0, 0, 0, 0.5);
}

.side-image.left {
    left: 0;
}

.side-image.right {
    right: 0;
}

.side-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7;
}

/* end of side pics */

.bigholder {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 10px;
}

.cardholder {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 100%;
    max-width: 400px;
}

.pound {
    margin: 8px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 100px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: right;
    color: #E0E0E0;
}

button {
    align-self: center;
    margin-top: 5px; 
    border-radius: 5px;
    border: solid 1px black;
    padding: 4px;
    width: 26%;
    background-color: #E0E0E0;
    color: black;
}

#fetchAmount, #updateAmount, #deleteAmount, .submit {
    border: none;
}

.totalcontainer {
    text-align: center;
    margin-top: 10px;
    color: #E0E0E0;
}

#outputTotal, #outputTotal2 {
    text-align: center;
    margin-top: 20px;
    color: #E0E0E0;
}

.exchangeholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    color: #E0E0E0;
}

.exchangeholder p {
    margin-bottom: 8px;
}

.bigholder2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 10px;
}

.Amountinput {
    border-radius: 5px;
    padding: 5px;
    width: 60%;
    border: solid 1px #cccccc;
    background-color: #E0E0E0;
    color: black;
    box-shadow: 3px 3px 8px rgba(95, 93, 93, 0.5);
    transition: box-shadow 0.3s ease-in-out;
}

.exchange {
    border-radius: 5px;
    padding: 5px;
    width: 40%;
    border: solid 1px #cccccc;
    background-color: #E0E0E0;
    color: black;
    box-shadow: 3px 3px 8px rgba(95, 93, 93, 0.5);
    transition: box-shadow 0.3s ease-in-out;
}

.Amountinput:hover, .exchange:hover, .adjustInput:hover {
    box-shadow: 5px 5px 12px rgba(95, 93, 93, 0.7);
}

.UpdateHolder {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr 1fr 2fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 10px;
    margin-top: 10px;
    align-items: center;
    justify-items: stretch;
    color: #E0E0E0;
}

#updateCategory {
    grid-row: 1/2;
    grid-column: 2/3;
    width: 100%;
}

#amountOptions {
    grid-row: 2/3;
    grid-column: 2/3;
    width: 100%;
}

#fetchAmount {
    grid-row: 1/2;
    grid-column: 4/5;
    width: 100%;
    transition: all 0.3s ease;
}

#newAmount {
    grid-row: 3/4;
    grid-column: 2/3;
    width: 90%;
    background-color: #E0E0E0;
    color: black;
    border: solid 1px #cccccc;
}

#updateAmount {
    grid-row: 2/3;
    grid-column: 4/5;
    width: 100%;
    transition: all 0.3s ease;
}

#deleteAmount {
    grid-row: 3/4;
    grid-column: 4/5;
    width: 100%;
    transition: all 0.3s ease;
}

#deleteTotalAmount {
    grid-row: 1/2;
    grid-column: 6/7;
    padding: 12px;
    width: 100%;
    border: solid 1px black;
    box-shadow: 3px 3px 8px rgba(95, 93, 93, 0.5);
    transition: all 0.3s ease;
    cursor: pointer;
    background-color: #E0E0E0;
    color: black;
}

.updateButton, .adjustInput, .AmountSelector select {
    padding: 10px;
    border-radius: 5px;
    border: solid 1px #cccccc;
    box-shadow: 3px 3px 8px rgba(95, 93, 93, 0.5);
    transition: box-shadow 0.3s ease-in-out;
    background-color: #E0E0E0;
    color: black;
}

.updateButton {
    width: auto;
    cursor: pointer;
}

.adjustInput, .AmountSelector select {
    width: 200px;
    background-color: #E0E0E0;
    color: black;
}

#subtractForm {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr 1fr 2fr 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 40px;
    align-items: center;
    justify-items: stretch;
}

#subtractCategory {
    grid-row: 1/2;
    grid-column: 2/3;
    width: 100%;
    background-color: #E0E0E0;
    color: black;
    border: solid 1px #cccccc;
}

#subtractAmount {
    grid-row: 2/3;
    grid-column: 2/3;
    width: 90%;
    border-radius: 5px;
    padding: 8px;
    border: solid 1px #cccccc;
    background-color: #E0E0E0;
    color: black;
    box-shadow: 3px 3px 8px rgba(95, 93, 93, 0.5);
    transition: box-shadow 0.3s ease-in-out;
}

.subtractButton {
    grid-row: 1/2;
    grid-column: 4/5;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #E0E0E0;
    color: black;
    box-shadow: 3px 3px 8px rgba(95, 93, 93, 0.5);
    transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease;
}

select {
    font-family: 'Montserrat', sans-serif;
    width: 200px;
    padding: 10px;
    border-radius: 15px;
    border: 2px solid #cccccc;
    background-color: #E0E0E0;
    color: black;
    cursor: pointer;
    transition: all 0.3s ease;
}

select:focus {
    border-color: #5f6469;
    box-shadow: 0 0 5px rgba(41, 43, 46, 0.5);
    outline: none;
}

option {
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    border-radius: 15px;
    background-color: #E0E0E0;
    color: black;
}

.updateButton {
    border-radius: 5px;
    border: solid 1px #cccccc;
    padding: 12px 40px;
    background-color: #E0E0E0;
    color: black;
}

.adjustInput {
    border-radius: 5px;
    padding: 8px;
    border: solid 1px #cccccc;
    background-color: #E0E0E0;
    color: black;
    box-shadow: 3px 3px 8px rgba(95, 93, 93, 0.5);
    transition: box-shadow 0.3s ease-in-out;
}

.footer_holder {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 20px;
    padding: 10px;
}

/* Adjusted media queries for responsiveness */

@media (max-width: 600px) {
    option {
        font-size: 10px;
    }
}

@media (max-width: 768px) {
    .bigholder, .bigholder2 {
        flex-direction: column;
        align-items: center;
    }

    .cardholder, .exchangeholder {
        width: 90%;
        max-width: none;
    }

    .UpdateHolder {
        grid-template-columns: 0.2fr 4fr 0.2fr 0.3fr 0.2fr 1fr 0.2fr;
        grid-template-rows: auto auto auto;
    }

    #subtractForm {
        grid-template-columns: 1fr 4fr 1fr 3fr 1fr 2fr 1fr;
        grid-template-rows: auto auto;
    }

    button {
        width: 30%;
        padding: 8px;
    }

    .updateButton, .subtractButton {
        width: 60%;
        padding: 8px;
        border-radius: 5px;
        border: solid 1px #cccccc;
        box-shadow: 3px 3px 8px rgba(95, 93, 93, 0.5);
        transition: box-shadow 0.3s ease-in-out;
        text-align: center;
    }

    #fetchAmount, #updateAmount, #deleteAmount, #deleteTotalAmount {
        width: 100%;
        padding: 8px;
    }

    #newAmount {
        width: 75%;
        background-color: #E0E0E0;
        color: black;
    }

    #subtractAmount {
        width: 80%;
        background-color: #E0E0E0;
        color: black;
    }

    #updateCategory {
        width: 80%;
        background-color: #E0E0E0;
        color: black;
    }

    #amountOptions {
        width: 80%;
        background-color: #E0E0E0;
        color: black;
    }
}

@media (max-width: 480px) {
    .cardholder, .exchangeholder, .UpdateHolder, #subtractForm {
        width: 100%;
        padding: 10px;
    }

    .UpdateHolder {
        grid-template-columns: 0.2fr 4fr 0.2fr 0.3fr 0.2fr 1fr 0.2fr;
        grid-template-rows: auto auto auto; 
    }

    #subtractForm {
        grid-template-columns: 1fr 4fr 1fr 3fr 1fr 2fr 1fr;
        grid-template-rows: auto auto;
    }

    button {
        width: 30%;
        padding: 8px;
    }

    .updateButton, .subtractButton {
        width: 100%;
        padding: 8px;
        border-radius: 5px;
        border: solid 1px #cccccc;
        box-shadow: 3px 3px 8px rgba(95, 93, 93, 0.5);
        transition: box-shadow 0.3s ease-in-out;
        text-align: center;
        background-color: #E0E0E0;
        color: black;
    }

    #fetchAmount, #updateAmount, #deleteAmount {
        width: 100%;
        padding: 5px;
        padding-top: 10px;
        text-align: center;
    }

    #deleteTotalAmount {
        width: 100%;
        padding: 1px;
        text-align: center;
    }

    #newAmount {
        width: 70%;
        background-color: #E0E0E0;
        color: black;
    }

    #subtractAmount {
        width: 80%;
        padding: 8px;
        background-color: #E0E0E0;
        color: black;
    }

    #updateCategory {
        width: 80%;
        padding: 5px;
        padding-top: 10px;
        text-align: center;
        background-color: #E0E0E0;
        color: black;
    }
}

input::placeholder, select::placeholder, textarea::placeholder {
    color: #bbbbbb;
}

input:-ms-input-placeholder, select:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #bbbbbb;
}

input::-ms-input-placeholder, select::-ms-input-placeholder, textarea::-ms-input-placeholder {
    color: #bbbbbb;
}

/* Responsive adjustments for side pics and header */

@media (min-width: 853px) and (max-width: 1028px) {
    body {
        padding-left: 8%;
        padding-right: 8%;
    }
}

@media (max-width: 768px) {
    body {
        padding-left: 8%;
        padding-right: 8%;
    }

    .side-image {
        width: 6%;
    }

    .header-img, .header-img2 {
        width: 40%;
    }

    .headrimgs {
        flex-direction: row;
    }

    .header-img {
        width: 40%;
        margin: 5px 0;
    }

    .header-img2 {
        width: 20%;
        margin: 5px 0;
    }

    .textlogo {
        text-align: center;
        padding: 5px;
    }
}

@media (max-width: 480px) {
    body {
        padding-left: 8%;
        padding-right: 8%;
    }

    .side-image {
        width: 6%;
    }

    .side-image img {
        object-position: 55% 0;
    }

    .headrimgs {
        flex-direction: row;
        align-items: center;
    }

    .header-img {
        width: 40%;
        margin: 5px 0;
    }

    .header-img2 {
        width: 20%;
        margin: 5px 0;
    }

    .textlogo {
        text-align: center;
        padding: 5px;
    }
}

/* -----------------------------Font Styles -------------------------------------*/
@font-face {
    font-family: 'Montserrat';
    src: url(/public/font-family/Montserrat-VariableFont_wght.ttf) format('truetype');
}
