/* General body styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    color: #333;
}

h1, h2, h3 {
    color: #4a67a1; /* Soft blue tone */
}

/* Styling for form containers */
form {
    border-radius: 8px;
}

/* Flexbox layout for form groups */
.twoElements {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.twoElements > div {
    flex: 1;
    padding: 10px;
}

/* Input styling */
input[type="number"], select {
    width: 50%; /* Consistent with your preference */
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 2px solid #ddd;
    border-radius: 20px;
    display: block;
    font-size: medium;
}

/* Button styling */
button.button1  {
    background-color: #4a67a1; /* Consistent with your primary button color */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 15px;
    font-size: 1em;
    transition: background-color 0.3s;
    width: auto; /* Allows for better control over button width */
}

button.button1:hover {
    background-color: #5679c1; /* Brighter shade on hover */
}

/* Responsive adjustments */
@media (max-width: 600px) {
    .twoElements {
        flex-direction: column;
    }

    input[type="number"], select {
        width: 100%; /* Full-width for better mobile usability */
    }
}